<%# Callum %>
<h1><strong>Welcome to TinderBay!</strong></h1>
<body>
<br>
<div class="topgrid">
	<div class= "topcell"><strong>Placeholder<strong></div>
	<div class= "topcell"><strong>Placeholder<strong></div>
	<div class= "topcell"><strong>Placeholder<strong></div>
</div>
<div class="grid">
  <div class="row">
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
  </div>
  <div class="row">
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
  </div>
  <div class="row">
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
  </div>
</div>
<br>
</body>