<%# Jack %>
<%# User profile HTML and CSS %>

<body id="jacks">

	<section id="pic"> <%# Section for profile picture %>
	<img id="placeholder" src="https://www.axure.com/c/attachments/forum/7-0-general-discussion/3919d1401387174-turn-placeholder-widget-into-image-maintain-interactions-screen-shot-2014-05-29-10.46.57-am.png"/> <%# Placeholder image for now %>	
	</section>

	<div id="user_details"> <%# Displays the rating, products sold and username of the user %>
	<h2>Username: Placeholder</h2>
	<h2>User rating: ****</h2>
	<h2>Products sold: 10</h2>
	</div>

	<article id="user_extra"> <%# Displays details about the user here %>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse feugiat tempor nisi eu varius. Suspendisse vulputate nibh at est laoreet, quis varius libero lacinia. Mauris sagittis felis convallis odio sollicitudin accumsan. Morbi euismod felis vitae mi efficitur pretium. Quisque odio neque, scelerisque ac nunc vitae, facilisis molestie quam. In a dignissim ligula. Praesent viverra vehicula eros, sed laoreet tortor finibus eget.

		Suspendisse nec imperdiet leo, id tempus nunc. Ut nec nisi vitae ante sagittis suscipit eu ac nisi. Mauris faucibus erat eu iaculis sagittis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris pretium eget lorem sit amet suscipit. Nullam pretium libero eget augue euismod, sed lobortis ex vestibulum. Vestibulum non hendrerit sem, in ultricies elit. Nulla malesuada urna non sagittis ornare.</p>	
	</article>

	<div id="product_details">
	<h3>Products this user is selling:</h3>
	</div>

	<div id="products_selling"> <%# A carousel function to show all the products this user is currently selling %>
	</div>

	<%# Links for "Users", "Products" and "Posts" needs to go into the navigation bar %>

</body>

