<%# Jeff %>

<body>
	<%# div to contain everything %>
	<div id="mainbody">
		<aside id="picutreAside">
			<img src="" alt = "scrolling-Image">
		</aside>
		<section id="productDescript">
			<h1>Product Name</h1>
			<h3>seller username</h3>
			<h3> description of product</h3>
		</section>
		<section id="commentSection">
			<h2>No comments</h2>
		</section>
	</div>
</body>